app-muscle-number {
  /** margin: 0 0.7em 0.7em 0; */
}

/*  ==========================================================================
    Dashboard component
    ========================================================================== */

.dashboard {
  padding: 24px;
}

.dashboard__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

/*  ==========================================================================
    Grid component
    ========================================================================== */

.grid {
  grid-gap: 16px;
}

.grid--repeat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.grid--wrap {
  display: flex;
  flex-wrap: wrap;
}
