/*  ==========================================================================
    Muscle number
    
    Tip: the styling does not have to be pixel perfect.
    
    Colors:
    - value = #006472
    - description = #666
    ========================================================================== */

.muscle-number {
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
}

.muscle-number--truncate:not(:hover) .muscle-number__label,
.muscle-number--truncate:not(:hover) .muscle-number__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  Header
    ========================================================================== */

.muscle-number__header {
  margin-bottom: 8px;
}

.muscle-number__label {
  font-weight: bold;
}

/*  Main
    ========================================================================== */

.muscle-number__main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  align-items: baseline;
}

.muscle-number__value {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  word-break: break-all;
  color: #006472;
}

.muscle-number__unit {
  font-size: 12px;
}

/*  Footer
    ========================================================================== */

.muscle-number__footer {
  min-height: 14px;
  margin-top: 4px;
}

.muscle-number__description {
  font-size: 12px;
  color: #666;
}
